/*---------------------------- CONTAINERS ----------------------------*/

#maincontainer{
    margin-top:15%;
    position:sticky;
}

.container{
    justify-content: center;
}

#formcontainer{
    display: block;
    padding: 20px;
    margin: 0 auto;
}

#logocontainer{
    margin:0 auto;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

/*---------------------------- LINK ----------------------------*/

.links {
    color: #000;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size:15px;
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin-right: 15px;
}

li{
    float: right;
}

li a:hover {
    text-decoration: underline;
}
/*---------------------------- SEARCH BAR ----------------------------*/

#searchbarContainer{
    margin:0 auto;
    width:600px;
    height: auto;
    border-radius:30px;
    border:1px solid #dcdcdc;
    padding: 5px;
    display: flex;
    align-items: center;
}

#searchbarContainer:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

#searchbarContainer:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}

@media only screen and (min-width : 150px) and (max-width : 780px){
    #searchbarContainer{
		width: 95%;
		margin: 0 auto;
	}
}

#textbar{
    height:30px;
    border:none;
    width:100%;
    font-size:16px;
    outline: none;
    border-radius:30px;
    display: block;
    margin-left: 5px;
}

#srchIcon{
    height:20px;
    top:5px;
    margin-left:5px;
}

/*---------------------------- BUTTONS ----------------------------*/

#btnContainer{
    margin: 0 auto;
    margin-top: 30px;
    width: 40%;
    align-items: center;
    display: flex;
}

.buttons{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
}

.buttons:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
}

.buttons:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
}

/*---------------------------- ADVANCED SEARCH ----------------------------*/

#Advformcontainer{
    vertical-align: baseline;
}

#AScontainer{
    margin-bottom: 40px;
    border:none;
    padding-left: 45px;
}

#ASlbl{
    font-size: 20px;
    font-family: Arial, sans-serif;
    color:#d93025;
}

.desc{
    font-size: 14px;
    position: relative;
}

.txtbar{
    width: 98%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    display: inline-block;
}

.txtbar:focus-within{
    background-image: linear-gradient(rgba(128, 128, 128, 0.164), white ,white, white, white);
    outline-color: blue;
    outline-style:inset;
    border: 0 solid;
}

#textbarContainer{
    margin-top: 30px;
    margin-left: 45px;
    display: block;
}

.inputcontainer{ 
    display: block;
    margin-top: 20px;
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
}

.lblContainer{
    width: 150px;
    display: inline-block;
}

.inputTxtContainer{
    width: 70%;
    display: inline-block;
}

/*---------------------------- ADVANCED SEARCH BUTTON----------------------------*/

#AdvbtnContainer{
    width:100%;
    margin-top: 10px;
}

#innerbtnContainer{
    display: inline-block;
    width: 70%;
}

#Advbuttons{
    background-color: #357ae8;
    border:none;
    color:white;
    font-size:13px; 
    padding: 10px 20px;
    margin:5px;
    border-radius:2px;
    outline:none;
    float: right;
}

#Advbuttons:hover{
    border: 1px solid rgb(102, 102, 102);
    padding: 9px 19px;
    box-shadow: none;
    background-image: linear-gradient(#357ae8, #0b142418);
}

#Advbuttons:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1pxsolid #3079ed;
    color: #fff;
}

@media only screen and (min-width : 150px) and (max-width : 780px){
    .txtbar{
		width: 90%;
	}
}