
#maincontainer{
    /* background-color: grey; */
    margin-top:15%;
    position:sticky;
}

.container{
    justify-content: center;
}

#formcontainer{
    /* background-color: red; */
    display: block;
    padding: 20px;
    margin: 0 auto;
}

#logocontainer{
    /* background-color: yellow; */
    margin:0 auto;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

/*---------------------------- LINK ----------------------------*/

.links {
    color: #000;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size:15px;
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin-right: 15px;
}

li{
    float: right;
}

li a:hover {
    text-decoration: underline;
}
/*---------------------------- SEARCH BAR ----------------------------*/

#searchbarContainer{
    /* background-color: yellow; */
    margin:0 auto;
    width:600px;
    height: auto;
    border-radius:30px;
    border:1px solid #dcdcdc;
    padding: 5px;
    display: flex;
    align-items: center;
}

#searchbarContainer:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

#searchbarContainer:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}

@media only screen and (min-width : 150px) and (max-width : 780px){
    #searchbarContainer{
		width: 95%;
		margin: 0 auto;
	}
}

#textbar{
    height:30px;
    border:none;
    width:100%;
    font-size:16px;
    outline: none;
    border-radius:30px;
    display: block;
    margin-left: 5px;
}

#srchIcon{
    height:20px;
    top:5px;
    margin-left:5px;
}

/*---------------------------- BUTTON ----------------------------*/

#btnContainer{
    /* background-color: blue; */
    margin: 0 auto;
    margin-top: 30px;
    width: 40%;
    align-items: center;
    display: flex;
}

.buttons{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
}

.buttons:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
}

.buttons:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
}

/*---------------------------- ADVANCED SEARCH ----------------------------*/

#AScontainer{
    margin-bottom: 50px;
    border:none;
    padding-left: 45px;
}

#ASlbl{
    font-size: 20px;
    font-family: Arial, sans-serif;
    color:#d93025;
}

.desc{
    font-size: 14px;
    position: relative;
}

.txtbar{
    width: 98%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    display: inline-block;

    /* background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial; */
}

.txtbar:focus-within{
    background: linear-gradient(gray white white);
    outline-color: blue;
    outline-style:inset;
    border: 0 solid;
}

#textbarContainer{
    margin-top: 30px;
    margin-left: 45px;
    justify-content: left;
}

.inputcontainer{
    display: flex;
    flex-wrap: wrap;
    /* display:grid;
    grid-template-columns: 150px 500px;
    grid-column-gap: 10px; */
    margin-top: 20px;
    height: 30px;
    background-color: #4885ed;
    width: 100%;
}

.lblContainer{
    width: 150px;
}

.inputTxtContainer{
    width: 70%;
    /* background-color: red; */
}

/*---------------------------- ADVANCED SEARCH BUTTON----------------------------*/

#AdvbtnContainer{
    /* margin-top: 30px;
    display: flex;
    justify-content: right;
    width:73.3%; */
    /* margin-left: 60%; */
}

#innerbtnContainer{
    margin-left: 70%;
}

#Advbuttons{
    background-color: #357ae8;
    border:none;
    color:white;
    font-size:13px; 
    padding: 10px 20px;
    margin:5px;
    border-radius:2px;
    outline:none;
}

#Advbuttons:hover{
    border: 1px solid rgb(102, 102, 102);
    padding: 9px 19px;
    box-shadow: none;
    background-image: linear-gradient(#357ae8, #0b142418);
}

#Advbuttons:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1pxsolid #3079ed;
    color: #fff;
}

@media only screen and (min-width : 150px) and (max-width : 780px){
    /* #AdvbtnContainer{
        margin-left: auto;
        justify-content: right;
    } */

    #innerbtnContainer{
        margin-left: 30%;
    }

    #inputcontainer{
        width: 98%;
    }
}